<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>example-022/index.html</title>
    <script src="../node_modules/underscore/underscore.js"></script>
  </head>
  <body>

    <div id="output"></div>

    <script>
    (function (_) {
      var markup =
        '<p>' +
        '<%- voted %> out of <%- total %> stars!' +
        ' (<% print((voted / total * 100).toFixed(0)) %>%)' +
        '</p>';

      var compiledTemplate = _.template(markup);

      var rendered = compiledTemplate({
        voted: 4, total: 5
      });

      document.querySelector('#output').innerHTML = rendered;

    }(window._));
    </script>

  </body>
</html>