body {
    font-family: serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: silver;
    font-size: 1.5em;
    text-align: center;
    padding: 2em;
}

.quote {
    font-size: 2.0em;
    line-height: 1.5em;
    font-style: italic;
    text-indent: 2.0em;
    border-left: 1px solid silver;
    padding: 0.5em 1.5em;
}