<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>example-026/index.html</title>
    <script src="../node_modules/underscore/underscore.js"></script>
  </head>
  <body>

    <div id="output"></div>

    <script>
    (function (_) {
      var markup =
        '<h1><%- title %></h1>' +
        '<p class="synopsis"><%- synopsis %></p>';

      // compile the string into a function
      var compiledTemplate = _.template(markup);

      var DEFAULTS = {
        title: 'A Great Film',
        synopsis: 'An epic hero defeats and evil villain and saves the world!'
      };

      var data = {
        title: 'Lord of the Rings'
      };

      // fill in any missing data values with defaults
      var merged = _.defaults(data, DEFAULTS);

      var rendered = compiledTemplate(merged);

      document.querySelector('#output').innerHTML = rendered;

    }(window._));
    </script>

  </body>
</html>