@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import 'bootstrap-sass/assets/stylesheets/_bootstrap';

body {
    padding-top: 15px;
    padding-bottom: 15px;
}

a {
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 11px;
}

.feed-article {
    img {
        max-width: 100%;
    }
}

.welcome-panel {
    .panel-body {
        :last-child {
            margin-bottom: 0;
        }
    }
}
